* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}
a {
  text-decoration: none;
}

.container {
  background-color: var(--bg);
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
img {
  max-width: unset !important;
}